@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.btn {
    @apply px-4 py-2 bg-primary dark:bg-primary-d rounded-lg hover:bg-accent dark:hover:bg-accent-d transition-colors text-white active:bg-accent;
}
.inp {
  @apply w-full p-2 mb-3 rounded bg-background/60 dark:bg-background-d/60 border-2 border-primary/40 dark:border-primary-d/40 text-black dark:text-white;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-text: oklch(17.15% 0.003 145.46);
  --color-background: oklch(97.23% 0.015 126.82);
  --color-primary: oklch(63.53% 0.062 131.91);
  --color-secondary: oklch(92.69% 0.022 130.02);
  --color-accent: oklch(73.10% 0.078 132.84);

  --color-text-d: oklch(95.41% 0.002 145.56);
  --color-background-d: oklch(17.29% 0.023 128.05);
  --color-primary-d: oklch(63.53% 0.062 131.91);
  --color-secondary-d: oklch(24.45% 0.027 129.81);
  --color-accent-d: oklch(56.33% 0.082 133.26);

  /* ... */
}
